<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<nav class="navbar navbar-dark bg-dark justify-content-start">
    <li class="nav-item">
      <a asp-controller="Category" asp-action="Index"  class="nav-link navbar-brand ">Categories</a>
    </li>
    <li class="nav-item">
    <a asp-controller="Product" asp-action="Index"  class="nav-link navbar-brand ">Products</a>        
    </li>
    <li class="nav-item">
    <a asp-controller="Property" asp-action="Index"  class="nav-link navbar-brand ">Property</a>  
    </li>
</nav>

    <div class="container">
            @RenderBody()
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
